@keyframes revealSearch {
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.stats-panel {
    position: fixed;
    top: 0;
    left: 0;
    // width: calc(100% - 14rem);
    width: calc(100% - 8.5rem);
    min-height: 100vh;
    
    z-index: 11111;
    padding: 0rem 2rem;
    padding-top: 7rem;
    margin-left: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #161616b2;
    // backdrop-filter: blur(10px);

    .touchBlocker {
        position: absolute;
        // background: red;
        z-index: -1;
        inset: 0;
    }

    .stat-container {
        max-width: 700px;
        width: 100%;
        min-height: 15rem;
        max-height: calc(100vh - 15rem);
        background: var(--background);
        border-radius: 7px;
        padding: .5rem;
        overflow: hidden;

        .titleBar {
            display: flex;
            justify-content: space-between;
            color: var(--text);
            padding: .5rem;
            padding-bottom: .8rem;
            border-bottom: 1px solid var(--sub-outline);

            .title {
                font-weight: 700;
                font-size: 1.1rem;
            }

            i {
                cursor: pointer;
                font-size: 1.5rem;
                transition: transform 500ms;

                &:hover {
                    transform: rotate(180deg);
                }
            }
        }

        .resultList {
            display: flex;
            flex-direction: column;
            // gap: 1rem;
            max-height: 490px;
            min-height: 11rem;
            height: calc(100vh - 20rem);
            overflow-y: auto;
            padding: .5rem;

            .resultCard {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: .5rem;
                border-radius: 7px;

                &:hover {
                    background: var(--sub-background);
                }

                .card-logo {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100px;
                    outline: 3px solid var(--sub-outline);
                    outline-offset: 1px;
                    background-position: center;
                    background-size: cover;
                    display: grid;
                    place-content: center;

                    i {
                        font-size: 1.3rem;
                    }
                }

                .card-title {
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .stat-actions {
                    margin-left: auto;
                    display: flex;
                    gap: .5rem;

                    .action-btn {
                        background: var(--accent);
                        color: white;
                        padding: .3rem 1rem;
                        border-radius: 6px;
                        font-size: .9rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                        cursor: pointer;
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        transition: outline-color 100ms;

                        &:hover {
                            outline-color: var(--accent);
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 925px) {
    .stats-panel {
        width: calc(100% - 4rem);
        padding-top: 0rem;
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #161616b2;
    }
}

    // .resultList {
    //     width: 100%;
    //     max-width: 700px;
    //     padding: 1rem;
    //     background: #0000003f;
    //     border: 2px solid transparent;
    //     border-bottom-left-radius: 7px;
    //     border-bottom-right-radius: 7px;
    //     gap: 1rem;

    //     display: flex;
    //     flex-direction: column;

    //     height: auto;
    //     max-height: 50vh;
    //     overflow-y: auto;
    //     animation: revealSearch 400ms ease;


    //     .resultCard {
    //         width: calc(100% - 1rem);
    //         min-height: 4rem;
    //         border-radius: 7px;
    //         background: var(--sub-background);
    //         display: flex;
    //         flex-direction: row;
    //         gap: 1rem;
    //         padding: .5rem;
    //         text-decoration: none;
    //         color: var(--text);
    //         animation: revealSearch 400ms ease;

    //         .card-logo {
    //             width: 4rem;
    //             aspect-ratio: 1 / 1;
    //             border-radius: 7px;
    //             background-size: cover;
    //         }

    //         .card-title {
    //             padding: 0;
    //             font-size: 1.3rem;
    //             font-weight: 600;
    //             cursor: pointer;

    //             &:hover {
    //                 text-decoration: underline;
    //             }
    //         }
    //     }

    //     .resultCardNotFound {
    //         height: 10rem;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: center;
    //         gap: 1rem;
    //         animation: revealSearch 400ms ease;
    //         color: white;

    //         i {
    //             font-size: 5rem;
    //         }

    //         .card-title {
    //             font-size: 1rem;
    //             font-weight: 200;
    //             letter-spacing: 1px;
    //         }
    //     }
    // }

//     button {
//         background: transparent;
//         border: 0;
//         font-family: var(--font);
//         color: white;
//         letter-spacing: 1px;
//         padding: .5rem 1rem;
//         margin-top: 1rem;
//         border-radius: 7px;
//         cursor: pointer;
//         animation: revealSearch 400ms ease;

//         &:hover {
//             background: var(--accent);
//             color: var(--background);
//         }
//     }
// }

// @media screen and (max-width: 925px) {
//     .search-panel {
//         width: calc(100% - 4.2rem);
//         padding-left: 2.1rem;
//         padding-right: 2.1rem;
//     }
// }

// @media screen and (max-width: 652px) {
//     .stats-panel {
//         .resultList {
//             width: calc(100vw - 4rem);
//             max-width: unset !important;
//             padding: .5rem;
//             max-height: 70vh;
//         }
//     }
// }