.content.wide {
    margin-top: 2rem;

    .card-list {
        gap: 1rem;
    }
}

.content.wide .content-card {
    min-width: 35rem;
    aspect-ratio: 23 / 7;
}

@media screen and (max-width: 652px) {
    .content.wide .content-card {
        min-width: 25rem;
        aspect-ratio: 23 / 7;
    }
}