.desktop-nav {
    position: fixed;
    top: 0;
    left: 4.5rem;
    right: 0;

    margin: 1rem;
    border-radius: 10px;
    min-height: 4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: var(--sub-background);
    border: 2px solid var(--sub-outline);
    backdrop-filter: var(--blur);
    padding: 0rem .6rem;

    z-index: 111111111;

    transition: transform 300ms, margin 300ms;

    


    .nav-logo {
        font-weight: 700;
        color: var(--accent);
        font-size: 1.6rem;
        letter-spacing: 3px;
        margin: .75rem;
        margin-right: 1.5rem;
        display: flex;
        align-items: center;
        gap: .3rem;
        text-decoration: none;
        cursor: pointer;

        .logo-ico {
            width: 2.2rem;
            height: 2.2rem;
            image-rendering: optimizeQuality;
            background-image: url("https://cdn.discordapp.com/attachments/961665882671677493/1084136104409714688/logo.png");
            background-image: url("/res/logo.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border: 0;
            outline: none;
            // filter: invert(0.5);
            // mix-blend-mode: luminosity;
        }

        .logo-name {
            color: white;
        }

        & > * {
            transition: filter 600ms;
        }

        .glow {
            filter: drop-shadow(0px 0px 10px #ffffff) brightness(1.4) contrast(1.1) hue-rotate(-20deg);
        }
    }

    .right-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.6rem;
        width: 100%;
    }

    .nav-btn {
        font-size: .95rem;
        // font-weight: 600;
        letter-spacing: .9px;
        cursor: pointer;
        user-select: none;

        i {
            font-size: 1.5rem;
            display: grid;
            place-content: center;
        }

        &:hover {
            color: var(--accent);
        }

        &:active {
            transform: scale(.9);
        }
    }

    // For tooltips
    .random-btn::after {
        content: 'Try Random Game';
    }

    .fevorite-btn::after{
        content: 'Your Favourites';
    }

    .recent-btn::after{
        content: 'Recently Played';
    }

    .theme-btn::after {
        content: 'Change Theme';
    }

    .login-btn {
        background: var(--sub-accent);
        padding: .5rem 1rem;
        min-width: 3.5rem;
        display: grid;
        place-content: center;
        border-radius: 5px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        user-select: none;
        color: white;

        &:hover {
            filter: brightness(.95);
        }

        &:active {
            transform: scale(.9);
        }
    }
    
}

.desktop-nav.hide {
    margin: 0rem !important;
    border-radius: 0px !important;
    border: 2px solid transparent !important;

    background: var(--sub-background) !important;
    // padding: 0rem !important;
}

[data-theme="dark-green"],
[data-theme="deepblue"],
[data-theme="pinky"] {
    .logo-ico {
        background-image: url("https://cdn.discordapp.com/attachments/961665882671677493/1089985518164529162/logo_white.png") !important;
        background-image: url("/res/logo_white.png") !important;
    }
}

[data-theme="pinky"],
[data-theme="white"],
[data-theme="white-2"] {
    .logo-name {
        color: black !important;
    }

    .logo-ico {
        background-image: url("/res/logo_black.png") !important;
    }
}


@media screen and (max-width: 925px) {
    .desktop-nav {
        left: 0rem;
    }
}


@media screen and (max-width: 652px) {
    .disableInMobile {
        display: none;
    }
    
    .desktop-nav.hide {
        margin: 1rem !important;
        border-radius: 10px !important;
        border: 2px solid var(--sub-outline) !important;
    
        background: var(--sub-background) !important;
        padding: 0rem !important;
    }

    .desktop-nav {
        left: 0rem;
        padding: 0;
        .nav-logo, .nav-btn, .login-btn {
            display: none;
        }

        .inputBox {
            margin: 0;
            margin: auto;
            width: calc(100% - .5rem);
            height: 2.5rem;
            font-size: 1.5rem;
            

            input {
                padding-left: 3rem;
                height: 2.5rem;
                font-size: 1.1rem;
            }
        }
    }
}