body {
  background: var(--background);
  color: var(--text);
  // overflow-x: hidden;
  max-width: 100vw;
  // margin-left: 5.5rem !important;
  margin-left: 4.5rem !important;
  margin-top: 6rem !important;
  margin-right: 1rem !important;
  scroll-behavior: smooth;
  // text-align: right;
}

.homePage {
  padding-left: 1rem;
}

.hero_disable_helper {
  margin-top: -2.8em;
  visibility: hidden;
}

.smoothScroll {
  scroll-behavior: smooth;
}

.tooltip {
  position: relative;
  &:hover {
    &::after {
      opacity: 1;
      transition: opacity 200ms;
    }
  }

  &::after {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 2.2rem;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    z-index: 1111111111111;
    background: var(--sub-background);
    border: 2px solid var(--sub-outline);
    color: var(--text);
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    border-radius: 6px;
    white-space: nowrap;
    transition: opacity 200ms 0ms;
  }
}

@media screen and (max-width: 925px) {
  body {
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 652px) {
  body {
    margin-bottom: 5.8rem !important;

    .hero_disable_helper {
      margin-top: -2rem;
    }
  }
}
