
.category {
    min-height: 62.5vh;
    .title {
        margin-top: 7rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 700;
    }

    .category-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .category-card {
            cursor: pointer;
            display: flex;
            background: var(--sub-background);
            border-radius: 7px;
            overflow: hidden;
            transition: background 300ms, color 300ms, transform 400ms;
            
            &:hover {
                .hash {
                    background: var(--text);
                    color: var(--background);
                }
                background: var(--text);
                color: var(--background);
            }

            &:active {
                transform: scale(.9);
            }

            .hash {
                width: 5.5rem;
                height: 4rem;
                font-size: 2.2rem;
                display: grid;
                place-content: center;
                border-radius: 7px;
                background: var(--sub-background2);
                color: var(--text);
            }

            .rCont {
                min-width: 8rem;
                display: grid;
                place-content: center;
                font-size: .9rem;
                font-weight: 600;
                letter-spacing: .8px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


@media screen and (max-width: 652px) {
    .category {
        .category-list {
            display: flex;
            flex-direction: column;
    
            .category-card {
                img {
                    width: 12rem;
                    height: 8rem;
                }
    
                .rCont {
                    width: 100%;
                }
            }
        }
    }

}